cucumber-phantomjs:
  build: .
  command: bundle exec cucumber -p poltergeist -f pretty
  volumes:
    - .:/myapp
  ports:
    - "4777:4777"

cucumber-firefox:
  build: .
  command: bundle exec cucumber -p browserstack -f pretty
  volumes:
    - .:/myapp

